/* VARIABLES */
$grey: #14281D;
$green: #009D49;
$light-blue: #F1F6FC;
$bright-blue: #D9E8FF;
$blue: #04294D;
$dark-blue: #031C34;

/* MIXINS */

@mixin gradient {
background: #09417a; /* Old browsers */
background: -moz-linear-gradient(top, #09417a 0%, #2154A1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #09417a 0%,#2154A1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, #09417a 0%,#2154A1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09417a', endColorstr='#2154A1',GradientType=0 ); /* IE6-9 */
}

/* RESETS */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Open Sans', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

section {
    padding: 1em 0 2em 0;
}

address {
        font-style: none;
    li {
        list-style-type: none;
    }
}

a {
    line-height: 1.5;
    margin:0;
    padding:0;
    font-size:100%;
    font-weight: 400;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover {
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }
}

h1, .tagline {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5em;
    text-align: center;
}

h3,h4 {
    line-height: 1.6;
}

p {
    color: $grey;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 1em;
}

.small-body-copy {
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* GENERAL STYLES */

header{

    &.page-wrapper {
        padding-bottom: 0;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

img {
    width: 100%;
}

.logo {
    float: left;
    margin: 1em 0;
}

.banner {
    text-align: center;
    width: 100%;
}

button, .button, input[type="submit"] {
        background: transparent;
        border: 1px solid $grey;
        border-radius: 50px;
        color: $grey;
        display: inline-block;
        font-size: 14px;
        padding: .75em 1.25em;
        a {
            color: $green;
            &:hover {
                border-color: $green;
                color: $green;
            }
        }

        &:hover {
            cursor: pointer;
            color: $green;
            border-color: $green;
        }
    }

.hide {
  display: none;
}

.spam-button {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.image-text-block {
    clear: both;
    line-height: 1.5;
    padding: 30px 20px 30px 0;

    h1, h2 {
        text-align: left;
    }
}

.light-bg {
    background-color: white;
    a {
        color: $green;
        &:hover {
            border-color: $green;
        }
    }
}

.medium-bg {
    background-color: $light-blue;
    a {
        color: $green;
        &:hover {
            border-color: $green;
        }
    }
}

.bright-bg {
    background-color: $blue;
}

.dark-bg {
    color: white;
    p {
        color: white;
    }

    h2 {
        color: white;
        font-size: 30px; 
        font-style: italic;
        font-weight: 200;
    }

    a {
        color: white;
        font-style: none;
        font-weight: 200;
        &:hover {
            border-color: white;
            color: white;
        }
    }

    .button {
        border-color: white;
        color: white;
        margin-top: 1em;
    }
}

.primary-bg {
    @include gradient;
}

.darker-bg {
    background-color: $dark-blue;
}

.callout {
    clear: both;
    padding: 2em;
    text-align: center;
    width: 100%;
}

.indented {
    margin-left: 2em;
}

footer {
    clear: both;
    font-size: 14px;
    width: 100%;

    ul {
        opacity: .8;
        li {
            float: left;
            line-height: 1.75;
            list-style-type: none;
        }
    }

    a {
        font-size: 14px;
    }

    section {
        padding: 1em 0;
    }

    h4 {
        margin-left: .5em;
    }


    nav {
        float: left;
        width: 100%;
    }

    .legal {
        font-weight: 100;
        opacity: .5;
        text-align: center;
    }
}

/* INDEX */

.main-menu {
    ul {
        text-align: right;
        width: 100%;

        a {
            margin-left: 1.25em;
        }

        li {
            border-bottom: 1px solid transparent;
            display: inline-block;
            line-height: 1.5;
            color: $grey;
            
            &:hover {
                border-color: $green;
                color: $green;
                transition: all .2s;
            }
        }

        .quote li {
            border: 1px solid $grey;
            border-radius: 50px;
            padding: .6em 1.25em;
            transition: border color .2s;
            &:hover {
                border-color: $green;
                color: $green;
            }
        }
    }
}

#resources {
    font-size: 14px;
    margin: 1em 0;
}

#services {
    a {  
        li {
            border-bottom: 5px solid transparent;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.9;
            margin-bottom: 0;
            margin-top: 0;
            text-decoration: none;
        }

        &:hover, &.active, &:focus {
                li {
                border-color: $green;
                color: $green;
                transition: color border 0.2s;
            }
        }
    }
}

/* CONTACT */
.contact {

    img {
        max-width: 300px;
    }
}

#contact-submit {
    width: 100%;
}

/* SCHOOLS */

#routes {
    padding-left: 2.5em;
    padding-right: 0;

    li {
        font-size: 14px;
        line-height: 1.3;
        margin: 1em 0;
    }
}

.video {
    iframe {
        margin-bottom: 1em;
    }
}

/* FORMS */

input, textarea, select {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 3em;
    padding: .5em;
    width: 100%;

    &:focus {
        background: white;
        border: 1px solid $green;
        outline: 0;
    }
}

input[type="radio"], label.radio{
    width: auto;
}

option:first {
    color: #999;
}

label {
    float: left;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: .5em;
    width: 100%;

    input, textarea, select {
        margin-top: .5em;
    }
}

#menu-label, #menu {
    font-size: 14px;
    position: absolute;
    top: 2em;
    right: 1em;
    display: none;
    width: auto;
}

form {
    h2 {
        margin-bottom: 0;
        text-align: left;
    }
}

.label {
    line-height: 3;
}

/* GRID */

[class*='col-'] {
    float: left;

    &.float-right {
        float: right;
    }
}

[class*='col-'] {
    padding: .5em;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-2-3 {
    width: 66.66%
}

.col-1-3 {
    width: 33.33%
}

.col-1-4 {
    width: 25%;
}

.col-1-7{
    width: 14.2%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

 .page-wrapper {
     max-width: 1024px;
     margin: 0 auto;
     padding: .5em;
 }

 .text-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em 2em;
    text-align: center;

    p, h3, h4, label {
        text-align: left;
    }

    .tagline {
        text-align: center;
    }
}

.text-wrapper, .page-wrapper {

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        font-size: 14px;
        font-weight: 200;
        line-height: 1.5;
        margin: .5em 0;
        text-align: left;
    }
}

.repeating-address {
    border-bottom: 1px solid $grey;
}

/* RESETS */

span.no-padding, div.no-padding {
    padding: 0 0.5em 0 0;

    &:last-child {
        padding: 0;
    }
}

/* MEDIA QUERIES */


@media only screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    h1, .tagline {
        font-size: 26px;
    }

p, a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 866px) {
    h1, .tagline, .dark-bg h2 {
        font-size: 24px;
    }

    #routes li a {
        font-size: 14px;
    }

    .col-1-7 {
        width: 25%;
    }
}

@media only screen and (max-width: 774px) {

    .col-1-3, .col-2-3, {
        width: 50%;
    }

    .banner {
        min-height: 125px;
        overflow-x: hidden;
        width: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    .legal {
        .col-1-3 {
            margin: 1em 0;
            width: 100%;
        }
    }

    #menu-label, #menu {
        color: $green;  
        display: block;
        &:hover {
            color: $green;
            cursor: pointer;
            transition: all .2s;
        }
    }

    #menu {
        margin: 0;
        opacity: 0;
        width: 4em;
    }

    nav.main-menu {
        background: white;
        box-shadow: 0 1px 3px #595959;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 75px;
        transition: max-height 0.5s;
        width: 100%;

        ul {
            text-align: left;
            li {
                border-top: #cccccc 1px solid;
                padding: .5em;
                margin: 0;
                width: 100%;
            }
            .quote li {
                border: none;
                border-radius: 0;
                border-top: #cccccc 1px solid;
                border-bottom: 1px solid transparent;
                padding: .5em;

                &:hover {
                    border-color: $green;
                }
            }
        }

        a {
            margin-left: 0;
        }

        #resources {
            margin: 0;
            .button {
                border: none;
                border-top: #cccccc 1px solid;
                border-radius: 0;
                padding: .5em;

                a {
                    color: $grey;
                }
            }
        }
    }

    input#menu:checked ~ nav.main-menu {
        max-height: 100%;
    }

    .wedding-gallery {
        .col-1-3 {
            width: 33.33%;
        }

        .col-2-3 {
            width: 66.66%;
        }
    }
}

@media only screen and (max-width: 674px) {

    .logo {
        width: 50%;
    }

    .col-1-2 {
        width: 100%;
    }

    #routes {
        padding-top: 0;
    }
}

@media only screen and (max-width: 600px) {

    [class*='col-'] {
        &.float-right {
            float: left;
        }
    }
    .col-1-3, .image-text-block, .page-wrapper {
        padding: 0;
    }

    .col-1-3, .col-2-3 {
        width: 100%;
    }

    .col-2-3 {
        h1 {
            font-size: 30px;
        }
    }

    .col-1-4 {
        width: 50%;
    }

    .col-1-7 {
        width: 50%;
    }

    .wedding-gallery {
        .col-2-3, .col-1-3, .col-1-1 {
            padding: .5em 1em;
            width: 100%;
        }
    }

    .image-text-block {
        .col-1-3 {
            max-height: 330px;
            overflow: hidden;
        }

        .col-2-3 {
            padding: 1em;
        }

        h2 {
            font-size: 24px;
        }
    }

    header.page-wrapper, footer .page-wrapper {
        padding: 0.5em;
    }
}

